ul.steps { margin: 0; padding: 10px; }
ul.steps li { margin: 0; padding: 0; list-style-type: none; }
ul.steps li a, ul.steps li button { display: block; margin-bottom: 2px; font-size: 1.2em; width: 100%;}
ul.steps li a { color: #fff;}
ul.steps li a:hover { color: #fff;}
ul.steps li a.act { /* background-color: #E40B0B !important; border: 1px solid #E40B0B; */ color: #ff8;}
ul.steps li a.disabled { opacity: 0.65; }
.attributes div.attr {border-bottom: 1px dotted #AAA; margin-bottom: 20px;}
.attributes div.attr>div { }

.product-gallery >div { padding: 0 !important;} 
.product-gallery  .box-img { border: 1px solid #D4DEE5; padding: 5px !important;margin: 3px;  overflow: hidden; float: left; width: 100%;}
.product-gallery  .box-img>div {  margin-bottom: 0 !important; }

.product-gallery  .box-img a.delete:hover { color: #f56954; }
.product-gallery  .box-img a.delete i{  margin: 3px 1px 1px 1px; font-size: 1.5em; }
.product-gallery  .box-img .remove>div { margin-bottom: 20px;}
.product-gallery  .box-img .name { height: 34px; width: 100%; background-color: #1A5D8B; display: none;}

.product-gallery  .box-img .actions>div { margin-bottom: 0px; }
.product-gallery  .box-img .actions>div.first { margin-left: 190px; height: 38px; background-color: #5B7992; }
.product-gallery  .box-img .actions>div a. { height: 38px; background-color: #96CAF7; }
.product-gallery  .box-img .actions a.file-name { margin-left: 20px; float: left; width: auto; border: 0; background-color: inherit; color: #fff; padding-top: 5px;  font-weight: bold; } 
.product-gallery  .box-img .actions, .product-gallery  .box-img .msg { height: 130px; border-top: 1px solid rgba(50, 50, 50, 0);}

.product-gallery  .box-img .actions .alt, .product-gallery  .box-img .actions .title { width: 30%;display: block; float: left;margin-left: 20px;margin-top: 10px; }
.product-gallery  .box-img .actions .img { display: block; float: left;  background: url() no-repeat top center;  background-size: auto; background-color: #fff; width: 180px; height: 125px; margin-top: -38px; }

.product-gallery  .box-img .actions div { margin-bottom: 0; }
.product-gallery  .box-img .actions .img>div { display: none; }
.product-gallery  .box-img .actions .btns { margin-left: 10px; float: left; width: 45px; }
.product-gallery  .box-img .actions .btns .btn { height: 28px; font-size: 20px; margin: 7px 5px 0 5px; background: #5B7992; color: #fff; font-weight: normal;}
.product-gallery  .box-img .actions .btns .btn i {margin-top: -4px; display: block; }
.product-gallery  .box-img .actions .btns .btn:hover { background: #428BCA; }



.product-gallery  .box-img .msg>span { margin-top: 2vw; }
.product-gallery  .box-img .msg { display: none;}
.product-gallery  .box-img.remove .actions{ display: none; }
.product-gallery  .box-img.remove .msg { display: block; text-align: center; background-color: rgba(50, 50, 50, 0.90); color: #fff; border-top: 1px solid rgba(50, 50, 50, 0.90); }
.product-gallery  .box-img.remove .msg>div { font-size: 1.2em; }
.product-gallery  .box-img.remove .msg .btn { border: 0; padding: 0.4em 1em; margin: 0 0.2em;}
.product-gallery  .box-img.remove .msg span.loading { display: none; }
.product-gallery  .box-img.remove .msg.show-loading { text-align: center; background-color: #fff; border-color: #fff; }
.product-gallery  .box-img.remove .msg.show-loading span.loading { display: block;  color: #F56954; font-size:40px; text-align: center;  }
.product-gallery  .box-img.remove .msg.show-loading div, .product-gallery  .box-img.remove .msg.show-loading a { display: none; }
