.post-gallery>div { padding: 0 !important;} 
.post-gallery .box-img { border: 1px solid #D4DEE5; padding: 5px !important;margin: 3px; overflow: hidden; float: left; width: 100%;}
.post-gallery .box-img>div { margin-bottom: 0 !important; }

.post-gallery .box-img a.delete:hover { color: #f56954; }
.post-gallery .box-img a.delete i{ margin: 3px 1px 1px 1px; font-size: 1.5em; }
.post-gallery .box-img .remove>div { margin-bottom: 20px;}
.post-gallery .box-img .name { height: 34px; width: 100%; background-color: #1A5D8B; display: none;}

.post-gallery .box-img .actions>div { margin-bottom: 0px; }
.post-gallery .box-img .actions>div.first { margin-left: 190px; height: 38px; background-color: #404040; }
.post-gallery .box-img .actions>div a. { height: 38px; background-color: #96CAF7; }
.post-gallery .box-img .actions a.file-name { margin-left: 20px; float: left; width: auto; border: 0; background-color: inherit; color: #fff; padding-top: 5px; font-weight: bold; } 
.post-gallery .box-img .actions, .post-gallery .box-img .msg { height: 130px; border-top: 1px solid rgba(50, 50, 50, 0);}

.post-gallery .box-img .actions .alt, .post-gallery .box-img .actions .title { width: 30%;display: block; float: left;margin-left: 20px;margin-top: 10px; }
.post-gallery .box-img .actions .img { display: block; float: left; background: url() no-repeat center center; background-size: auto; background-color: #fff; width: 180px; height: 125px; margin-top: -38px; }

.post-gallery .box-img .actions div { margin-bottom: 0; }
.post-gallery .box-img .actions .img>div { display: none; }
.post-gallery .box-img .actions .btns { margin-left: 10px; float: left; width: 45px; }
.post-gallery .box-img .actions .btns .btn { height: 28px; font-size: 20px; margin: 7px 5px 0 5px; background: #9A9A9A; color: #fff; font-weight: normal;}
.post-gallery .box-img .actions .btns .btn i {margin-top: -4px; display: block; }
.post-gallery .box-img .actions .btns .btn:hover { background: #428BCA; }



.post-gallery .box-img .msg>span { margin-top: 2vw; }
.post-gallery .box-img .msg { display: none;}
.post-gallery .box-img.remove .actions{ display: none; }
.post-gallery .box-img.remove .msg { display: block; text-align: center; background-color: rgba(50, 50, 50, 0.90); color: #fff; border-top: 1px solid rgba(50, 50, 50, 0.90); }
.post-gallery .box-img.remove .msg>div { font-size: 1.2em; }
.post-gallery .box-img.remove .msg .btn { border: 0; padding: 0.4em 1em; margin: 0 0.2em;}
.post-gallery .box-img.remove .msg span.loading { display: none; }
.post-gallery .box-img.remove .msg.show-loading { text-align: center; background-color: #fff; border-color: #fff; }
.post-gallery .box-img.remove .msg.show-loading span.loading { display: block; color: #F56954; font-size:40px; text-align: center; }
.post-gallery .box-img.remove .msg.show-loading div, .post-gallery .box-img.remove .msg.show-loading a { display: none; }
