.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}
.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}
.btn,
.btn-group {
	margin: 0 10px 15px 0;
}

.btn-block {
	margin-right: 0;
	margin-left: 0;
}

.btn-group .btn {
	margin: 0;
}
#eq {
	text-align: center;
}

#eq span {
	height: 215px;
	display: inline-block;
	margin: 15px;
}

.slider-demo { margin-bottom: 2em; }
