.dev-email {
  width: 100%;
}
.dev-email .dev-email-navigation {
  background: #F0F0F0;
}
.dev-email .dev-email-navigation .dev-email-navigation-compose {
  float: left;
  width: 100%;
  padding: 15px;
}
.dev-email .dev-email-navigation .dev-email-navigation-compose .btn {
  padding: 12px 15px;
}
.dev-email .dev-email-navigation .dev-email-navigation-compose .btn .fa {
  margin-right: 5px;
}
.dev-email .dev-email-navigation ul {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 20px;
}
.dev-email .dev-email-navigation ul > li {
  float: left;
  width: 100%;
}

.dev-email .dev-email-navigation ul > li > a {
  display: block;
  float: left;
  width: 100%;
  line-height: 20px;
  padding: 10px 15px;
  text-decoration: none;
  color: #555555;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.dev-email .dev-email-navigation ul > li > a .fa {
  font-size: 14px;
  margin-right: 15px;
}
.dev-email .dev-email-navigation ul > li > a:hover {
  background: #F9F9F9;
}
.dev-email .dev-email-navigation ul > li > a.active {
  background: #CFCFCF;
}
.dev-email .dev-email-navigation .dev-email-navigation-labels {
  float: left;
  width: 100%;
}
.dev-email .dev-email-navigation .dev-email-navigation-labels .title {
  float: left;
  width: 100%;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 5px 15px;
}
.dev-email .dev-email-navigation .dev-email-navigation-labels a {
  float: left;
  display: block;
  width: 100%;
  line-height: 20px;
  padding: 10px 15px;
  color: #555555;
  text-decoration: none;
  background: #F0F0F0;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.dev-email .dev-email-navigation .dev-email-navigation-labels a i {
  margin-right: 10px;
}
.dev-email .dev-email-navigation .dev-email-navigation-labels a:hover {
  background: #F9F9F9;
}
.dev-email .dev-email-messages {
  background: #FAFAFA;
}
.dev-email .dev-email-messages .dev-email-messages-list {
  width: 100%;
}
.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item {
  float: left;
  width: 100%;
  position: relative;
  padding: 10px 0px;
  margin-bottom: 5px;
  background: #FAFAFA;
  cursor: pointer;
  border-right: 1px solid #F8F8F8;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  border-bottom: 1px dotted red;
}
.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item.unseen {
  background-color: #FFE76C;
}
.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item .dev-email-messages-list-item-toolbar {
  float: left;
  width: 10%;
  position: absolute;
  left: 10px;
  width: 25px;
  height: 100%;
}
.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item .dev-email-messages-list-item-toolbar .checkbox {
  margin-top: 0px;
  margin-bottom: 10px;
}
.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item .dev-email-messages-list-item-toolbar .star {
  width: 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  color: #f3bc65;
}
.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item .dev-email-messages-list-item-info {
  float: left;
  width: 100%;
  padding-left: 45px;
}
.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item .dev-email-messages-list-item-info:hover {
  text-decoration: underline;
}
.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item .dev-email-messages-list-item-info:hover div{
  text-decoration: underline;
}

.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item .dev-email-messages-list-item-info > .name {

  line-height: 20px;
  font-size: 12px;
}

.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item .dev-email-messages-list-item-info > .time {
  line-height: 20px;
  color: #333333;
  font-size: 11px;
}
.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item .dev-email-messages-list-item-info > .message {
  margin-top: 5px;
  float: left;
  width: 100%;
  color: #333333;
  padding: 0px 10px 0px 0px;
  font-weight: bold;
}
.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item:hover {
  background: #FFE4E4;
}

.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item.active {
  background: #FFF;
  border-right-color: #FFF;
}
.dev-email .dev-email-messages .dev-email-messages-list .dev-email-messages-list-item:first-child {
  margin-top: 10px;
}
.dev-email .dev-email-message {
  float: left;
  width: 50%;
  background: #FFF;
}
.dev-email .dev-email-message .dev-email-message-title {
  float: left;
  width: 100%;
  padding: 15px;
  font-size: 21px;
  border-bottom: 1px solid #FAFAFA;
}
.dev-email .dev-email-message .dev-email-message-from {
  float: left;
  width: 50%;
  padding: 10px 15px;
  font-weight: bold;
  line-height: 35px;
}
.dev-email .dev-email-message .dev-email-message-from img {
  width: 35px;
  height: 35px;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
}
.dev-email .dev-email-message .dev-email-message-date {
  float: left;
  width: 50%;
  padding: 10px 15px;
  line-height: 35px;
  font-size: 11px;
  color: #555555;
  text-align: right;
}
.dev-email .dev-email-message .dev-email-message-text {
  float: left;
  width: 100%;
  padding: 15px;
  font-size: 14px;
}
.dev-email .dev-email-message .dev-email-message-text p {
  font-size: inherit;
}
.dev-email .dev-email-message .dev-email-message-attachment {
  float: left;
  width: 100%;
  border-top: 1px solid #FAFAFA;
  border-bottom: 1px solid #FAFAFA;
  padding: 15px;
  color: #555555;
}
.dev-email .dev-email-message .dev-email-message-form {
  float: left;
  width: 100%;
  padding: 15px;
}
.dev-email .dev-email-message .dev-email-message-form .form-group {
  margin-bottom: 10px;
}
.dev-email .dev-email-compose {
  float: left;
  width: 80%;
  background: #FFF;
}
.dev-email .dev-email-compose .dev-email-compose-form {
  float: left;
  width: 100%;
  padding: 15px;
}
.dev-email .dev-email-message-panel {
  float: left;
  width: 100%;
  padding: 15px 10px 10px;
  background: #F8F8F8;
  border-bottom: 1px solid #F5F5F5;
}
.dev-email .dev-email-message-panel > .btn {
  margin: 0px 10px;
}
.dev-email .dev-email-message-panel .btn-group .btn {
  margin-bottom: 0px;
}
.dev-email .dev-email-message-panel > .checkbox {
  display: inline-block;
  float: left;
}
@media all and (max-width: 992px) {
  .hide-mobile {
    display: none;
  }
  .dev-email .dev-email-navigation {
    width: 100%;
  }
  .dev-email .dev-email-navigation .dev-email-navigation-labels,
  .dev-email .dev-email-navigation ul {
    display: none;
  }
  .dev-email .dev-email-messages,
  .dev-email .dev-email-compose {
    width: 100%;
  }
  .dev-email .dev-email-message {
    display: none;
  }
}

div.cc-item, div.cc-item div {
	margin-bottom: 1px;
}

