.warnings { margin-top: 15px; }
.default-form { margin-top: 25px;margin-bottom: 15px;}
.default-form label.required:after{ 
	color: #f00;
	content: "\f069";
	margin-left: 10px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 60%;
	vertical-align: top;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.warnings .box .box-body { border: 1px solid #FF7B68; color: #000; }
.default-form.modal-form { margin-top: 15px;margin-bottom: 0;}
.default-form  div { margin-bottom: 10px; }
.default-form  div.mce-container { margin-bottom: 0px; }
.default-form  div.mce-container div{ margin-bottom: 0px; }
.default-form  div.clear, .default-form  span.clear { margin-bottom: 0; clear: both; display: block; }
.default-form  div.base { margin-bottom: 0; }
.default-form input[type=text], .default-form input[type=password], .default-form select, .default-form textarea {  display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.428571429; color: #555555; vertical-align: middle; background-color: #ffffff; background-image: none; border: 1px solid #cccccc; border-radius: 4px; }
.default-form input[type=password] { font-size: 18px; }
.default-form input[type=password]::-webkit-input-placeholder { font-size: 14px; padding: 5px 0 0 0;} 
.default-form input[type=text]:focus, .default-form input[type=password]:focus, .default-form select:focus, .default-form textarea:focus  { border-color: #66afe9;  outline: none;}
.default-form input[type=text].invalid, .default-form input[type=password].invalid, .default-form select.invalid, .default-form textarea.invalid { border: 1px solid #fa9; }
.default-form input.invalid[type=text]:focus, .default-form input.invalid[type=password]:focus, .default-form select.invalid:focus, .default-form textarea.invalid:focus { border-color: #fa9; }
.default-form input:read-only:focus { border-color: #cccccc; }
.default-form textarea {  resize: none; height: 55px; }


/*.ui-datepicker { width: auto !important;}*/
.default-form select option:first-child{ color: #999; }
.default-form select.first_default option:first-child{ color: #000; }
.default-form fieldset { border: 1px solid #e5e5e5;margin-bottom: 10px;padding-bottom: 10px; }
.default-form fieldset legend { width: auto;border: 0;padding: 0 20px; margin-bottom: 0;  }
.default-form a.gray { background-color: #737373; border-color: #737373; }
.default-form label.radio_label { display: block; float: left; padding: 5px 25px 5px 0;  }
.default-form label.radio_label>input{ display: block; float: left;margin-right: 4px; margin-top: 5px; width: 20px; }
.default-form label.radio_label>span{ margin-top: -9px; font-weight: normal; }

@media (min-width: 991px) {
.float-right-md { float: right !important;}
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 1s linear infinite;
}
/*
.default-form input[type=checkbox]{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	background: rgba(255, 255, 255, 0.7) url(iCheck/minimal/minimal.png) no-repeat;
	border: none;
	cursor: pointer;
}*/
/* iCheck plugin Minimal skin, black
----------------------------------- */
.default-form  div.icheckbox_minimal { margin: 0 10px 3px 0; }
.default-form .chkbox-list label { display: block; margin-bottom: 10px;}


.icheckbox_minimal,
.iradio_minimal {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(iCheck/minimal.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_minimal {
    background-position: 0 0;
}
    .icheckbox_minimal.hover {
        background-position: -20px 0;
    }
    .icheckbox_minimal.checked {
        background-position: -40px 0;
    }
    .icheckbox_minimal.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .icheckbox_minimal.checked.disabled {
        background-position: -80px 0;
    }

.iradio_minimal {
    background-position: -100px 0;
}
    .iradio_minimal.hover {
        background-position: -120px 0;
    }
    .iradio_minimal.checked {
        background-position: -140px 0;
    }
    .iradio_minimal.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .iradio_minimal.checked.disabled {
        background-position: -180px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_minimal,
    .iradio_minimal {
        background-image: url(iCheck/minimal@2x.png);
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}

/*UPLOADER*/

.uploader {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
    display: block;    
}
.uploader span.action i {
    width: 28px;
    height: 28px;
    cursor: pointer;    
    display: inline;
    overflow: hidden;
}
.uploader span.action i {
	color: #4a4;
	float: right;
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
}

.uploader span.filename {
    color: #777;
    max-width: 200px;
    font-size: 11px;
    line-height: 28px;
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    font-size: 14px;
    color: #555555;
}
.uploader input[type=file] {
    width: 100%;
    margin-top: 0;
    opacity: 0;
    filter: alpha(opacity: 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    float: right;
    height: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
}
.uploader {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}
.uploader.disabled span.action i {
    color: #aaa;
}
.uploader.disabled span.filename {
    border-color: #ddd;
    color: #aaa;
}