.file-preview>div { margin: 0; }
.file-preview div.close { display: none; }
.file-preview div.file-drop-zone-title { margin: 0; }
.file-preview div.file-preview-thumbnails { margin: 0; }
.file-preview>div.file-drop-zone { margin: 20px 15px 10px 15px; }
.file-drop-zone-title {  font-size: 20px; padding: 0; }
.file-preview {display: none;}


.gallery-list>div { padding: 0 !important;} 
.gallery-list .box-img { border: 1px solid #1A5D8B; padding: 0 !important;border-radius: 2px;  background: url() no-repeat center center;  background-size: contain; background-color: #fff;margin: 3px;  overflow: hidden; float: left; }
.gallery-list .box-img>div {  margin-bottom: 0 !important; }

.gallery-list .box-img .actions a { color: #666; border-radius: 4px; margin: 4px; width: 30px; height: 30px; text-align: center; border: 1px solid #1A5D8B; background-color: #fff; display: block; } 
.gallery-list .box-img a.delete:hover { color: #f56954; }
.gallery-list .box-img a.delete i{  margin: 3px 1px 1px 1px; font-size: 1.5em; }
.gallery-list .box-img .remove>div { margin-bottom: 20px;}
.gallery-list .box-img a.check { margin-right: 5px; float: left;}
.gallery-list .box-img a.check i { color: #E2E2E2; margin: 6px 0 0 1px; font-size: 1.2em;}
.gallery-list .box-img a.check.on i { color: #1A5D8B;}
.gallery-list .box-img .name { height: 34px; width: 100%;}
.gallery-list .box-img .name a { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 7px 0 5px 0; font-size: 0.9em; color: #fff; text-align: center; display: none; font-weight: bolder; }
.gallery-list .box-img .name.active, .gallery-list .box-img.remove .name { background-color: #1A5D8B; }
.gallery-list .box-img .name.active a, .gallery-list .box-img.remove .name a { display: block; color: #fff; }

.gallery-list .box-img { width: 31.6%;}
.gallery-list .box-img .actions, .gallery-list .box-img .msg { height: 15vw; border-top: 1px solid rgba(50, 50, 50, 0);}
.gallery-list .box-img .msg>span { margin-top: 2vw; }
.gallery-list .box-img .msg { display: none;}
.gallery-list .box-img.remove .actions{ display: none; }
.gallery-list .box-img .actions .delete { display: none; }
.gallery-list  .box-img .actions.show_delete .delete { display: block; }
.gallery-list .box-img.remove .msg { display: block; text-align: center; background-color: rgba(50, 50, 50, 0.90); color: #fff; border-top: 1px solid rgba(50, 50, 50, 0.90); }
.gallery-list .box-img.remove .msg>div { font-size: 1.2em; }
.gallery-list .box-img.remove .msg .btn { border: 0; padding: 0.4em 1em; margin: 0 0.2em;}

.gallery-list .box-img.remove .name { background-color: #555;}
.gallery-list .box-img.remove .name span{  font-weight: normal;}

.gallery-list .box-img.remove .msg span.loading { display: none; }
.gallery-list .box-img.remove .msg.show-loading { text-align: center; background-color: #fff; border-color: #fff; }
.gallery-list .box-img.remove .msg.show-loading span.loading { display: block;  color: #F56954; font-size:40px; text-align: center;  }
.gallery-list .box-img.remove .msg.show-loading div, .gallery-list .box-img.remove .msg.show-loading a { display: none; }

@media (min-width: 992px) {
	.gallery-list .box-img { width: 9.60em;}
	.gallery-list .box-img .actions, .gallery-list .box-img .msg { height: 8em;  }
	.gallery-list .box-img .msg>div { margin-top: 1.0em; }
	.gallery-list .box-img .msg>span { margin-top: 0.7em;}
	#file-manager-content form .col-xs-4, #file-manager-content form .col-xs-8{ margin-top: 25px; }
}